# Development
DB_USER=postgres
DB_PASS=password
DB_DATABASE=commerceapi_db
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DIALECT=postgres

# Production (diisi saat deploy di Vercel)
POSTGRES_URL=postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/[DATABASE]
JWT_SECRET=commerceapi_secret_key_super_secure_random_string_12345
JWT_EXPIRES=1d
PORT=3000