# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Deployment / Vercel
.vercel/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor Files
.DS_Store
Thumbs.db
desktop.ini
